body {
    font-family:'SF Pro Design',sans-serif;
}

.furniture-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a{
    text-decoration:none;
}

.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}